
@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserDashBoard</h2>

<fieldset>

@if (Session["NNumber"] != null) {
    <text>
    Welcome @Session["NNumber"].ToString()
    @Session["FirstName"].ToString()
    @Session["LastName"].ToString()    </text>
} </fieldset>  

<h2>@Html.ActionLink("(walker)Find a Ride", "Walker", "CurrentCustomer")</h2>
<h2>@Html.ActionLink("(driver)Find a Parking Spot", "Driver", "CurrentCustomer")</h2>
<h2><a href="\GMaps.html">map</a></h2>

<div id="map" style="width:100%;height:400px;"></div>

<script>
    function myMap() {
        var myCenter = new google.maps.LatLng(30.266120, -81.507199);
        var myCar = new google.maps.LatLng(30.273014, -81.509903);
        var myCar2 = new google.maps.LatLng(30.268112, -81.514978);
        var mapCanvas = document.getElementById("map");
        var mapOptions = { center: myCenter, zoom: 15};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({
            position: myCenter, icon: {
                url: "/images/walking.jpg",
                scaledSize: new google.maps.Size(40, 40)
            },
        });
        var marker2 = new google.maps.Marker({
            position: myCar, icon: {
                url: "/images/sedan.png",
                scaledSize: new google.maps.Size(40, 40)
            },
        });
        var marker3 = new google.maps.Marker({
            position: myCar2, icon: {
                url: "/images/sedan.png",
                scaledSize: new google.maps.Size(40, 40)
            },
        });
        marker.setMap(map);
        marker2.setMap(map);
        marker3.setMap(map);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByFLWZ-dFP4JATVY-_RN0sUSvIWXEynOE&callback=myMap"></script>
