<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - S W U B E R </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Swuber", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - S W U B E R is property of Swoop Corp. | Find us on Social Media
            
            <p> 
                <a href="https://unf-swuber.herokuapp.com"><img src="~/Images/swuber1.jpg" border="0" width="50" height="50"></a>
                <a href="http://www.twitter.com/SwuberCorp"><img src="~/Images/twittericon.png" border="0" width="50" height="50"></a>
                <a href="http://www.instagram.com"><img src="~/Images/instagram.png" border="0" width="50" height="50"></a>
                <a href="http://www.facebook.com"><img src="~/Images/facebook.png" border="0" width="50" height="50"></a>
            </p>

            <p><img src="~/Images/adgoeshere.png" border="0" width="400" height="50"align="right" ></p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
